* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
}

#hero {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

li {
  list-style: none;
  padding-left: 10px;
  font-size: 20px;
}
span {
  font-size: 17px;
  font-weight: 500;
}
i {
  color: white;
  cursor: pointer;
}
.fa-magnifying-glass {
  font-size: small;
}
.fa-magnifying-glass::after {
  content: "|";
  padding-left: 30px;
  padding-right: 15px;
  font-weight: lighter;
}
.fa-brands {
  padding-left: 12px;
}
.firsti {
  color: rgb(255, 119, 0);
}
.seconed {
  color: white;
}
.just-try:hover {
  text-decoration: none;
}
span:hover {
  color: rgb(255, 119, 0);
  transition: ease-in-out;
}
.advice {
  font-size: 30px;
  float: right;
  padding-right: 300px;
  font-weight: 700;
}
.advice2 {
  font-size: 50px;
  float: right;
  padding-right: 300px;
  font-weight: 500;
}
.myAdvice {
  margin-top: 250px;
  margin-right: 0;
  display: grid;
  justify-content: end;
}
.strength {
  height: 50px;
}
strong {
  color: rgb(255, 119, 0);
}
.myH {
  font-size: 50px;
}
.btn {
  background-color: rgb(255, 119, 0);
  width: 150px;
  height: 50px;
}
#reasons {
  height: 600px;
  background-color: black;
}
#why {
  padding-top: 20px;
  padding-left: 100px;
  color: rgb(255, 119, 0);
}
.h-20 {
  font-size: 40px;
}
.why-when {
  padding-right: 200px;
  display: grid;
  justify-content: center;
}
.card {
  height: 400px;
  width: 300px;
}
.myCards {
  display: flex;
}
.fa-bicycle {
  font-size: 70px;
}
.fa-bicycle:hover {
  color: rgb(255, 119, 0);
  transition: ease-in 0.3s;
}
.bike {
  color: #a9a9a9;
  padding-top: 60px;
}
.fa-apple-whole {
  font-size: 60px;
}
.fa-apple-whole:hover {
  color: rgb(255, 119, 0);
  transition: ease-in 0.3s;
}
.health {
  padding-top: 30px;
  color: #a9a9a9;
}
.fa-dumbbell {
  font-size: 60px;
}
.fa-dumbbell:hover {
  color: rgb(255, 119, 0);
  transition: ease-in 0.3s;
}
.fa-heart-pulse {
  font-size: 60px;
}
.fa-heart-pulse:hover {
  color: rgb(255, 119, 0);
  transition: ease-in 0.3s;
}
.card-size {
  height: 10px;
}
.first-sport {
  width: 120px;
}
.avail-classes {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  row-gap: 50px;
  padding-right: 300px;
}
.parent {
  background-color: #151515;
  height: 1100px;
}
#classes-section {
  background-color: #151515;
  margin-right: 150px;
}
.des {
  color: rgb(255, 119, 0);
}
.sport-with-angle {
  justify-content: space-between;
}
.my-right-angle {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 20px;
  margin-top: -7px;
  height: 40px;
  width: 50px;
  align-items: center;
}
.fa-angle-right {
  padding-left: 20px;
  padding-top: 10px;
  font-size: 20px;
}
.avail2-classes {
  display: flex;
  max-width: none !important;
}
.WL {
  width: 600px;
  padding-left: 305px;
}
.FW {
  padding-left: 300px;
}
.register {
  background-image: url("");
}
.register {
  height: 500px;
  text-align: center;
  background-image: url("imgs/pressure.jpeg");
  background-size: cover;
  background-position: center;
}
.H1-register {
  padding-top: 200px;
  font-weight: 700;
}
.orange_btn {
  margin-top: 50px;
  color: white;
}
.orange_btn:hover {
  background-color: white;
  color: rgb(43, 51, 193);
  border: 5px solid rgb(255, 119, 0);
  border-radius: 5px;
  letter-spacing: 1px;
}
.card-group {
  margin-top: 500px;
}
.pricing-section {
  background-color: #151515;
  height: 700px;
}
.our-plan {
  color: rgb(255, 119, 0);
  padding-left: 500px;
}
.our-plan-H2 {
  padding-left: 330px;
  padding-top: 10px;
  color: white;
  font-weight: 800;
}
.pricing-section {
  height: 1000px;
}
.pricing-title {
  padding-top: 100px;
}
.pricing_container {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
}
.offers {
  border: 1px solid rgb(62, 60, 58);
  height: 600px;
  width: 400px;
}
.offers:hover {
  background-color: white;
  transition: ease-in-out 0.3s;
}
.offers h3 {
  color: white;
}
.offer-price {
  color: rgb(255, 119, 0);
  font-size: 50px;
}
.fst-price {
  padding-left: 150px;
}
.f-h3 {
  padding-left: 110px;
  padding-top: 30px;
}
.snd-price {
  padding-left: 150px;
}
.s-h3 {
  padding-left: 80px;
  padding-top: 30px;
}
.t-h3 {
  padding-left: 80px;
  padding-top: 30px;
}
.thrd-price {
  padding-left: 150px;
}
.sing-c {
  color: #a9a9a9;
  padding-left: 140px;
  text-transform: uppercase;
}
.plan-features {
  margin-left: 100px;
  color: #a9a9a9;
}
.per-t {
  padding-left: 30px;
  padding-top: 10px;
}
.no-t {
  padding-left: 15px;
  padding-top: 10px;
}
.up-spa {
  padding-top: 10px;
}
.enrol-btn {
  margin-left: 50px;
  width: 298px;
  margin-top: 50px;
  color: white;
}
#contact-section {
  background-color: #151515;
  height: 700px;
}
.offer-price2 {
  color: rgb(255, 119, 0);
  font-size: 20px;
}
.myTouch {
  font-size: 40px;
}
.our-info i {
  color: rgb(255, 119, 0);
  padding-top: 40px;
  font-size: 30px;
}
.loca {
  padding-bottom: 50px;
  font-size: 30px;
  color: #a9a9a9;
}
.last-container {
  justify-content: space-between;
  padding-top: 100px;
}
.my-form {
  display: flex;
  flex-direction: column;
}
input {
  width: 555px;
  height: 46px;
  background: none;
  border: 1px solid rgb(62, 60, 58);
  padding-left: 20px;
  color: white;
}
input::placeholder {
  color: #d9d6d6;
  font-size: 15px;
}
textarea {
  width: 555px;
  height: 100px;
  background: none;
  border: 1px solid rgb(62, 60, 58);
  padding-left: 20px;
  color: white;
  padding-top: 15px;
}
textarea::placeholder {
  color: #d9d6d6;
  font-size: 15px;
  padding-top: 10px;
}
.submit {
  background-color: rgb(255, 119, 0);
  height: 46px;
  color: white;
}
#scrollUpBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(255, 119, 0);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 20px;
  transition: 0.3s;
}
#scrollUpBtn:hover {
  background-color: #555;
}
